.canvas{
    width:100%;
    min-height:600px;
}
body{
	/*width: 100%;*/
	/*height: 100%;*/
	background-image: url("img/background.png");
	background-size: 100% 100%;
	/*background-size: contain;*/
	background-repeat: no-repeat;
	background-color:#e7e7e6;
}
/* tooltip */
.container{
    position:relative;
    width: 100%;
    height: 100%;
}
.bicycleimg{
	width: 20px;
	height: 20px;
}
.background{
	height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: -1;
}
.backgrond img{
	height: 100%;
	width: 100%;
}