body{
	margin: 0;
}
#canvas {
    width: 100%;
}

text tspan {
    text-anchor: middle;
}

.tree {
    height: 90px;
    width: auto;
    opacity: .8;
}

.rider {
    fill: #999;
}
.bg{
	width: auto;
}
.label{
	position: fixed;
	top:0;
	background: #fff;
	padding:5px 8px;
	color:#333;
	margin: 0 auto;
}